body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 20px;
    list-style-type: none;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    border: 1px solid #fff;
    float: left;
    font-size: 128px;
    font-weight: bold;
    line-height: 34px;
    height: 128px;
    width: 128px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    color: #fff;
    background-image: url("./images/blackboard.jpg");
    background-size: 100% 100%;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
    border: 2px solid #000;
    padding: 25px;
    height: 327px;
    width: 198px;
    line-height: 1.4;
}

